@import '../../styles/base.scss';

#login{
    @include page-padding-mobile;
    

    form{
        grid-template-rows: 50% 50%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        position: relative;

        .alert {
            position: absolute;
            top: -25px;
        }

        input:not([type="submit"]){
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            height: 40px;

            background: #F9F8F7;
            border: 2px solid #C6CDCD;
            box-sizing: border-box;

        }

        .lostPassword{
            font-family: $h1-font;
            font-size: 0.7rem;
            text-transform: uppercase;
            place-self: flex-end;
        }
    }
}


@media only screen and (min-width: 768px) {

    #login{
        @include page-padding-tablet;
        transform: translateY(50%);
        padding-top: 0;
        padding-bottom: 0;

        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        "title ."
        "text form";

        .ModalWrapper {
            top: -35%;
        }

        .bluebox {
            padding: 80px 20px;
            grid-area: text;
            background-color: $background-color;
            color: $font-white-color;
        }

        form {
            grid-area: form;
        }
    }
}

@media only screen and (min-width: 1024px) {
    #login{
        @include page-padding-desktop-mini;
        transform: translateY(35%);
        padding-top: 0;
        padding-bottom: 0;

        display: grid;
        grid-gap: 20px;
        grid-column-gap: 50px;
        grid-template-columns: 48% 48%;
        grid-template-areas: 
        "title ."
        "text form";

        &>p {
            padding: 70px 20px;
            grid-area: text;
            background-color: $background-color;
            color: $font-white-color;
        }

        form {
            grid-area: form;
        }
        
        .alert {
            top: -47px;
        }

  }
}

@media only screen and (min-width: 2560px) {

    #login{
        @include page-padding-desktop-large;
        padding-top: 0;
        padding-bottom: 0;

        display: grid;
        grid-gap: 20px;
        grid-column-gap: 50px;
        grid-template-columns: 48% 48%;
        grid-template-areas: 
        "title ."
        "text form";

        &>p {
            padding: 70px 20px;
            grid-area: text;
            background-color: $background-color;
            color: $font-white-color;
        }
    }
}

