@import '../../styles/base.scss';

.chat {
    padding: 20px;
    .messageBox {
        padding: 20px;
        width:100%;
        height: 70%;
        background: $font-white-color;
        .messageWrapper {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}