@import '../../styles/base.scss';

.chat {
    padding: 20px;
    .messageBox {
        padding: 20px;
        width:100%;
        height: 500px;
        overflow: scroll;
        background: $bg-white;
        .messageWrapper {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        form {
            margin-left: 20%;
            width: 66%;
            display: inline-block;
            input {
                width: 100%;
            }
        }
        .icon {
            vertical-align: top;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    input {
        padding: 10px;
        width: 100%;
        height: 40px;
        background: #F9F8F7;
        border: 2px solid #C6CDCD;
        box-sizing: border-box;
      }
}

@media only screen and (min-width: 1024px) {
    .chat {
        .messageBox {
            padding: 50px;
            form {
                width: 70%;
           
            }
        }
        input {
            width: 80%;
            margin-right: 25px;
        }
    }


}