@import "../../styles/base.scss";

button {
  cursor: pointer;
  &:disabled{
    cursor: initial;
    color: $border-color-grey
  }

  &.icon {
    background-color: transparent;
    border: transparent;
    display: inline-block;
    width: auto; 
    height: auto;
  }
}

.base {
  width: 155px;
  height: 40px;
  left: 176px;
  margin-top: 15px;

  background: $call-to-action-color;
  border: 1px solid $call-to-action-color;
  box-sizing: border-box;

  font-family: $h1-font;
  font-size: 0.8rem;
  text-transform: uppercase;
  place-self: flex-end;
  color: $font-white-color;
}

.link {
  background: transparent;
  border: none;
  color: $call-to-action-color;
}

.item {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: $h1-font;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: $font-black-color;
  padding: $padding-button;
  width: 100%;
}
