@import "../../styles/base.scss";

// .categoryList {
//   margin: 20vh 6vw 0 6vw;
// }

// .category {
//   width: 54%;
// }

.categoryPage {
  p {
    font-family: $p-font;
  }
  .d-grid {
    figure {
      margin: 0;
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    @media only screen and (max-width: 450px) {
      grid-template-columns: auto;
    }
  }

  .search-container {
    width: 60%;
    margin: 3em auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 72% 26%;

    input {
      padding: 10px;
      width: 100%;
      height: 40px;
      background: #F9F8F7;
      border: 2px solid #C6CDCD;
      box-sizing: border-box;
    }
    button {
      margin: 0;
    }

    .searchbar {
      border: 1px solid $border-color-grey;
      color: $font-black-color;
      &:focus {
        border: 1px solid $call-to-action-color;
      }
    }
  }

  .category-container {
    margin-top: 10vh;
  }
}
