/** Fonts **/

$h1-font: "Merriweather";

$p-font: "raleway";

/** Colors **/

$background-color: #034d5a;
$font-white-color: #fef5f4;
$font-black-color: #45494b;
$call-to-action-color: #fd9c50;
$alert-color: #ff6262 !important;
$border-color-grey: #c6cdcd;
$bg-white: white;
$padding-button: 16px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-white;
}

.hide {
  display: none !important;
}

img {
  width: 100%;
}

.d-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 -30px;
  overflow: hidden;
  margin-top: 4vh;
}


/*** Mixins **/

@mixin page-padding-mobile {
  padding: 105px 30px 0 30px;
}

@mixin page-padding-tablet {
  padding: 105px 35px 0 35px;
}

@mixin page-padding-desktop-mini {
  padding: 120px 8% 0 8%;
}

@mixin page-padding-desktop-large {
  padding: 105px 26% 0 26%;
}

.content {
  @include page-padding-mobile;
}
.bluebox {
  padding: 30px;
  background-color: $background-color;
  color: $font-white-color;
}

@media only screen and (min-width: 768px) {
  .content {
    @include page-padding-tablet;
    .d-grid {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    @include page-padding-desktop-mini;
    .bluebox {
      padding: 50px;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .content {
    @include page-padding-desktop-large;
  }
}

.item-triangle {
  display: flex;
  align-items: center;
  border: 2px solid $border-color-grey;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
.triangle {
  margin-right: 25px;
  border-left: 16px solid $call-to-action-color;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
}
