* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.hide {
    display: none!important;
}

/** Fonts **/

$h1-font: 'Merriweather';

$p-font:'raleway';


/** Colors **/

$background-color: #034D5A;
$font-white-color: #FEF5F4;
$font-black-color: #45494B;
$call-to-action-color: #FD9C50;
$alert-color: #ff6262!important;

/*** Mixins **/

@mixin page-padding-mobile {
    padding: 105px 35px 0 35px;   
}

@mixin page-padding-tablet{
    padding: 105px 60px 0 60px;   
}

@mixin page-padding-desktop-mini{
    padding: 120px 15% 0 15%;   
}

@mixin page-padding-desktop-large{
    padding: 105px 30% 0 30%;   
}
