a,
label {
  font-family: $h1-font;
  line-height: 28px;
  margin: 5px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
}

h1,
h2 {
  font-family: $h1-font;
  font-size: 20px;
  font-weight: lighter;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 4vh;
  width: fit-content;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, transparent 10%, $call-to-action-color 10%) 2;
  color: $font-black-color;
  letter-spacing: 2px;
}

a {
  display: inline-block;
}

.alert {
  color: $alert-color;
}

p,
li {
  font-family: $p-font;
  line-height: 28px;
  margin: 5px 0;
  font-size: 0.9rem;
  color: $font-black-color;
}
