.savedPage {
    .intro{
        margin: 0 -30px;
    } 
    figure {
        margin: 0;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .exerciseWrapper {
        margin: 2rem auto;
        .exercise{
            width: 100%;
        }
        .cancel{
            float: right;
            margin-bottom: 30px;
            margin-top: 0px;
        }
    }
    
    .noExercise {
        width: 60%;
        margin: 3em auto 0 auto;
        text-align: center;
    }
    .ModalBody{
        p{
            text-align: center;
        }
        .buttons{
            display: grid;
            grid-template-columns: 50% 50%;
            button{
                justify-self: center;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .savedPage .d-grid {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 768px) {
    .savedPage{
        .intro{
            margin: 0;
        }

        .exerciseWrapper {
            width: 90%;
            margin: 3rem auto;
            .exercise {
                width: 70%;
            }
            .cancel{
                float: right;
                margin-bottom: 0px;
                margin-top: 15px;
            }
        
        }
    }
    
}