@import '../../styles/base.scss';

/*** Navigation ***/ 

nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 5px 35px 0 35px;
    z-index: 5;
    .logo {
        height: 40px;
        position: fixed;
        top: 10px;
        display: inline-block;
        img{
            height: 100%;
            width: auto;
        }

        &.desktop_logo{
            height: 60px;
            display: inline-block;
            img{
                height: 100%;
                width: auto;
            }
        }
    }

    .burger{
        width: 38px;
        height: 21px;
        display: inline-block;
        position: fixed;
        right: 35px;
        top: 25px;
        .line {
            height: 3px;
            background-color: $font-white-color;
            transform-origin: center;
            transition: transform 0.3s;
            &:nth-child(2n){
                margin: 5px 0 5px 0;
            }
        }

        &.close {
            .line {
                position: absolute;
                top: 8px;
                width: 100%;
            }
            .line:first-child {
                transform: rotate(-45deg);
            }
            .line:nth-child(2n) {
                display: none;
            }
            .line:last-child {
                transform: rotate(45deg);
            }
        }
    }

    .menu {
        margin: 0;
        height: 667px;
        position: fixed;
        right: 0;
        width: 100%;
        top: 68px;
        padding: 0 35px 0 35px;
        background-color: $background-color;

        a {
            position: relative;
            display: block;
            color: $font-white-color;
            line-height: 35px;
            width: max-content;
            font-size: 0.8rem;
        }

        .link {
            position: relative;
            display: block;
            color: $font-white-color;
            line-height: 75px;
            font-family: $h1-font;
            padding: 0;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        .icon {
            height: 75px;
            padding: 0;
        }

        .active {
            border-bottom: 2px solid;  
            line-height: 50px;         
            border-image: linear-gradient(to right, transparent 10%, $call-to-action-color 10%) 2;
        }

        &.desktop {
            top: 5px;
            display: inline-block;
            padding: 0;
            width: auto;
            height: auto;
            background-color: transparent;
            vertical-align: top;
            .active {
                border-bottom: 3px solid;  
                line-height: 35px;         
                border-image: linear-gradient(to right, transparent 10%, $call-to-action-color 10%) 2;
            }
            a, .link, .icon {
                display: inline-block;
                line-height: 60px;
                padding: 0;
                margin: 0 60px;
                color: $font-black-color;
            }
            .icon {
                height: 60px;
                img {
                    vertical-align: middle;
                    width: 25px;
                    height: 25px;

                }   
            }
        }
    
    }
    .settings{
        position: absolute;
        width: 43px;
        height: 43px;
        left: 1688px;
        top: 72px;

        /* background: url(image.png); */
        border: 3px solid $call-to-action-color;
    }
}

.nav-green {
    background-color: $background-color;
}

.nav-white {
    background-color: $bg-white;
}

.burger-black {
    .line {
        background-color: $font-black-color;
    }
}

.burger-white {
    .line {
        background-color: $font-white-color;
    }
    
}
