@import '../../styles/base.scss';

.breadCrumbs {
    div{
        display: inline-block;
    }
    svg {
        height:10px;
        width: 10px;
        margin: 0 5px;
        fill: $call-to-action-color;
    }
    button.link{
        font-family: 'merriweather';
        color: $font-black-color;
        padding: 0
    }
}